:root {
  --gray: #a8a7a8;
  --pink: #cc527a;
  --red: #e8175d;
  --soft-black: #474747;
  --black: #363636;
  --pure-black: #000000;
  --wheat: #f5deb3;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

/* Navbar */
.nav__main {
  opacity: 0;
  padding: 0.3rem;
  background: var(--red);
  border-radius: 5px;
  position: fixed;
  z-index: 100;
  transition: all 1s ease-in-out;
}
.nav__ul {
  display: flex;
}
.nav__ul--li {
  list-style: none;  
}
.nav__ul--li a {
  text-decoration: none;
  margin: 1rem 1rem;
  color: var(--black);
}
.nav__ul--li a:hover {
  color: var(--wheat);
}

/* Presentation section */
.main {
  background: var(--pure-black);
  color: var(--red);
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__container--title {
  position: relative;
}
.main__container--title::before, .main__container--title::after {
  content: '';
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}
.main__container--title::before {
  background: var(--pure-black);
  animation: typeWriter 4s steps(16) forwards;
}
.main__container--title::after {
  width: 0.05em;
  opacity: 0;
  background: #f5f5f5;
  animation: typeWriter 4s steps(16) forwards, typeEffect 500ms ease infinite;
}
@keyframes typeWriter {
  to {
    left: 100%;
  }
}
@keyframes typeEffect {
  to {
    opacity: 1;
  }
}
.main__container--subtitle {
  opacity: 0;
  transform: translateX(-10rem);
  animation: slideX 3s ease 4s forwards;
}
@keyframes slideX {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.main__p {
  margin: 2rem 0 0 0;
  opacity: 0;
  transform: translateX(10rem);
  animation: slideX 3s ease 6s forwards;
}

/* Social Section */
.social__article {
  position: fixed;
  left: 0%;
  top: 50%;
  z-index: 101;
  background: var(--red);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.social__container {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  margin: 0 0.5rem;
}
.social__container--li {
  list-style: none;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.social__container--link {
  font-size: 2rem;
  color: var(--pure-black);
}
.social__container--link:visited {
  color: var(--pure-black);
}
.social__container--link:hover {
  color: var(--wheat);
}

/* Main proyects section */
.proyects__main {
  padding-top: 2rem;
  height: 100%;
  background: var(--pure-black);
}
.proyects__title {
  color: var(--red);
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.proyects__container--title {
  color: var(--red);
  margin: 0 0 2rem 0;
  opacity: 0;
  transition: all 2s ease-in-out;
}
.proyects__container--1 {
  opacity: 0;
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10rem;
}
.proyects__container--card {
  display: flex;
  flex-direction: column;
}
.proyects__container--card--p {
  color: var(--wheat);
  word-break: normal;
  margin-right: 8rem;
}
.proyects__container--card--div {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 0 0;
}
.proyects__container--card--link {
  opacity: 0;
  transition: all 2s ease-in-out;
}
.proyects__container--card--link a{
  font-size: 1.2rem;
  color: var(--red);
  text-decoration: none;
}
.proyects__container--card--link a:hover {
  color: #f5deb3;
}
.proyects__container--videos {
  display: flex;
  flex-direction: column;
}
.proyects__container--videos--video {
  width: 350px;
  border-radius: 10px;
  border: 1px solid var(--gray);
}
#proyect1-video {
  height: 220px;
}
.proyects__container--videos--video:nth-child(1) {
  opacity: 0;
  transition: all 1.5s ease-in-out;
  z-index: 10;
}
.proyects__container--videos--video:nth-child(2) {
  opacity: 0;
  transition: all 1.5s ease-in-out;
  z-index: 9;
}
.proyects__container--2 {
  opacity: 0;
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10rem;
}
.left__video:nth-child(1) {
  transform: translateX(5rem);
}
.left__video:nth-child(2) {
  transform: translate(-2rem, -1.2rem);
}
.left__title {
  margin: 0 0 2rem 8rem;
}
.left__p {
  margin: 0 0 0 8rem;
}
.proyects__container--3 {
  opacity: 0;
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10rem;
}

/* Skills section */
.skills__container {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0 8rem;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.skills__container--title {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  color: var(--red);
}
.skills__container--p {
  margin: 1rem 8rem;
  word-break: normal;
  color: var(--wheat);
}
.skills__container--subtitle {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  margin-top: 3rem;
  color: var(--red);
  transition: all 1s ease-in-out;
}
.skills__subContainer {
  width: 100%;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  align-items: center;
}
.skills__subContainer--html {
  opacity: 0;
  margin: 0 1rem;
  transition: all 3s ease-in-out;
}
.skills__subContainer--css {
  opacity: 0;
  margin: 0 1rem;
  transition: all 3s ease-in-out;
}
.skills__subContainer--js {
  opacity: 0;
  margin: 0 1rem;
  transition: all 3s ease-in-out;
}
.skills__subContainer--react {
  opacity: 0;
  margin: 0 1rem;
  transition: all 3s ease-in-out;
}
.skills__subContainer--git {
  opacity: 0;
  margin: 0 1rem;
  transition: all 3s ease-in-out;
}

/* Footer section */
.footer__container {
  display: flex;
  flex-direction: column;
  margin: 0 15rem;
}
.footer__container--title {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  color: var(--red);
  opacity: 0;
  transition: all 1s ease-in-out;
}
.footer__container--formContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 8rem;
}
.footer__container--gif {
  border-radius: 10px;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.footer__container--form {
  display: flex;
  flex-direction: column;
  color: var(--wheat);
}
.footer__container--form input:focus {
  outline: none;
  border: 2px solid var(--red);
  border-radius: 2px;
}
.footer__container--form textarea:focus {
  outline: none;
  border: 2px solid var(--red);
  border-radius: 2px;
}
.footer__container--label {
  margin: 0 0 0.2rem 0;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.footer__container--inputName, .footer__container--inputEmail {
  height: 100%;
  max-height: 12%;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.footer__container--inputMsg {
  height: 100%;
  width: 100%;
  max-width: fit-content;
  max-height: fit-content;
  word-break: normal;
  text-align: start;
  resize: none;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.footer__container--submit {
  background: var(--red);
  border: 1px solid var(--red);
  border-radius: 2px;
  margin: 0.2rem 0 0 0;
  padding: 0.2rem 0;
  color: var(--wheat);
  opacity: 0;
  transition: all 1s ease-in-out;
}
.footer__container--submit:focus {
  background: var(--pink);
  padding: 0.2rem 0;

}